@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

$family-sans-serif: "YuMincho" ,"Yu Mincho","メイリオ",serif;
$size-1: 5rem;
$size-2: 5rem;
$size-3: 8rem;
$size-4: 8rem;
$size-5: 3rem;

$primary: #FAB81E;


$link-hover: hsl(27, 100%, 50%);


@import "../node_modules/bulma/bulma.sass";

.hero {
    background-image: url("../image/banana.jpg");
    background-size: cover;
    .title, .subtitle {
        text-shadow: 0 0 8px $white, 0 0 8px $white;
    }
}

html {
    border-image-width: 100px;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #7DD9FE;
    border-right-color:#7DD9FE;
    border-bottom-color: #7DD9FE;
    border-left-color: #7DD9FE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    
}